@page
@using rcApp.Componets
@model IndexModel
@{
    ViewData["Title"] = "Cocktail page";
}

<div class="text-center">
    <h1 class="display-4">Cocktail Postings</h1>
    <p><a href="https://recoverycentersofamerica.com/"> Concerned about a drinking problem</a>?</p>
</div>


@(await Html.RenderComponentAsync<CocktailList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>




